In [5]:
import numpy as np
import pandas as pd
import os

In [ ]:
import zipfile
zip_ref = zipfile.ZipFile('train.csv.zip', 'r')
zip_ref.extractall('../Fraud Detection/')
zip_ref.close()

In [7]:
data_set=pd.read_csv('../Fraud Detection/train_sample.csv')

In [8]:
data_set.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [9]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
ip                 100000 non-null int64
app                100000 non-null int64
device             100000 non-null int64
os                 100000 non-null int64
channel            100000 non-null int64
click_time         100000 non-null object
attributed_time    227 non-null object
is_attributed      100000 non-null int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [12]:
print(data_set.loc[np.where(data_set.is_attributed==1)[0][0:10]])

          ip  app  device  os  channel           click_time  \
284   224120   19       0  29      213  2017-11-08 02:22:13
481   272894   10       1   7      113  2017-11-08 06:10:05
1208   79001   19       0   0      213  2017-11-07 09:54:22
1341  131029   19       0   0      343  2017-11-09 10:58:46
1412   40352   19       0   0      213  2017-11-07 22:19:03
1666   48733   35       1  18      274  2017-11-07 12:25:50
1771  330861   35       1  22       21  2017-11-08 18:54:44
1917  309576    5       1  32      113  2017-11-09 08:47:51
3914  220571   71       1  25        3  2017-11-08 04:35:21
3992  240051   35       1  19       21  2017-11-08 08:07:13

          attributed_time  is_attributed
284   2017-11-08 02:22:38              1
481   2017-11-08 06:10:37              1
1208  2017-11-07 11:59:05              1
1341  2017-11-09 11:52:01              1
1412  2017-11-08 01:55:02              1
1666  2017-11-07 13:10:30              1
1771  2017-11-08 22:39:52              1
1917  2017-11-09 08:47:55              1
3914  2017-11-08 04:37:46              1
3992  2017-11-08 09:46:42              1